@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C100%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C200%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Roboto%3Aital%2Cwght%400%2C100%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Ubuntu%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_default_styles {
  --mixin-J84BVF7JPjMQ_font-family: "Inter";
  --mixin-J84BVF7JPjMQ_font-size: 16px;
  --mixin-J84BVF7JPjMQ_font-weight: 400;
  --mixin-J84BVF7JPjMQ_font-style: normal;
  --mixin-J84BVF7JPjMQ_color: #535353;
  --mixin-J84BVF7JPjMQ_text-align: left;
  --mixin-J84BVF7JPjMQ_text-transform: none;
  --mixin-J84BVF7JPjMQ_line-height: 1.5;
  --mixin-J84BVF7JPjMQ_letter-spacing: normal;
  --mixin-J84BVF7JPjMQ_white-space: pre-wrap;
  --mixin-J84BVF7JPjMQ_user-select: text;
  --mixin-J84BVF7JPjMQ_text-decoration-line: none;
  --mixin-J84BVF7JPjMQ_text-overflow: clip;
  --mixin-2JdKOU7w74jN_color: #000000;
  --mixin-2JdKOU7w74jN_font-size: 24px;
  --mixin-2JdKOU7w74jN_font-weight: 600;
  --mixin-2JdKOU7w74jN_letter-spacing: -0.5px;
  --mixin-2JdKOU7w74jN_line-height: 1.3;
  --mixin-2JdKOU7w74jN_white-space: pre-wrap;
  --mixin-L98I-ijb46tm_color: #000000;
  --mixin-L98I-ijb46tm_font-size: 20px;
  --mixin-L98I-ijb46tm_font-weight: 600;
  --mixin-L98I-ijb46tm_letter-spacing: -0.3px;
  --mixin-L98I-ijb46tm_line-height: 1.5;
  --mixin-L98I-ijb46tm_white-space: pre-wrap;
  --mixin-dtvg92MGARez_color: #000000;
  --mixin-dtvg92MGARez_font-size: 16px;
  --mixin-dtvg92MGARez_font-weight: 600;
  --mixin-dtvg92MGARez_line-height: 1.5;
  --mixin-dtvg92MGARez_white-space: pre-wrap;
  --mixin-B924koFdlSQT_color: #0070f3;
  --mixin-B924koFdlSQT_white-space: pre-wrap;
  --mixin-PoAM3UlBuzPB_border-left-color: #dddddd;
  --mixin-PoAM3UlBuzPB_border-left-style: solid;
  --mixin-PoAM3UlBuzPB_border-left-width: 3px;
  --mixin-PoAM3UlBuzPB_color: #888888;
  --mixin-PoAM3UlBuzPB_padding-left: 10px;
  --mixin-PoAM3UlBuzPB_white-space: pre-wrap;
  --mixin-JaaxaDprf9QN_color: #000000;
  --mixin-JaaxaDprf9QN_font-size: 72px;
  --mixin-JaaxaDprf9QN_font-weight: 900;
  --mixin-JaaxaDprf9QN_letter-spacing: -4px;
  --mixin-JaaxaDprf9QN_line-height: 1;
  --mixin-JaaxaDprf9QN_white-space: pre-wrap;
  --mixin-8Bw3D1Fv8MuV_color: #000000;
  --mixin-8Bw3D1Fv8MuV_font-size: 48px;
  --mixin-8Bw3D1Fv8MuV_font-weight: 700;
  --mixin-8Bw3D1Fv8MuV_letter-spacing: -1px;
  --mixin-8Bw3D1Fv8MuV_line-height: 1.1;
  --mixin-8Bw3D1Fv8MuV_white-space: pre-wrap;
  --mixin-nn8pOE_FLMMC_color: #000000;
  --mixin-nn8pOE_FLMMC_font-size: 32px;
  --mixin-nn8pOE_FLMMC_font-weight: 600;
  --mixin-nn8pOE_FLMMC_letter-spacing: -0.8px;
  --mixin-nn8pOE_FLMMC_line-height: 1.2;
  --mixin-nn8pOE_FLMMC_white-space: pre-wrap;
  --mixin-zcc6NnwlG3f8_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zcc6NnwlG3f8_border-bottom-color: #dddddd;
  --mixin-zcc6NnwlG3f8_border-bottom-style: solid;
  --mixin-zcc6NnwlG3f8_border-bottom-width: 1px;
  --mixin-zcc6NnwlG3f8_border-left-color: #dddddd;
  --mixin-zcc6NnwlG3f8_border-left-style: solid;
  --mixin-zcc6NnwlG3f8_border-left-width: 1px;
  --mixin-zcc6NnwlG3f8_border-right-color: #dddddd;
  --mixin-zcc6NnwlG3f8_border-right-style: solid;
  --mixin-zcc6NnwlG3f8_border-right-width: 1px;
  --mixin-zcc6NnwlG3f8_border-top-color: #dddddd;
  --mixin-zcc6NnwlG3f8_border-top-style: solid;
  --mixin-zcc6NnwlG3f8_border-top-width: 1px;
  --mixin-zcc6NnwlG3f8_border-bottom-left-radius: 3px;
  --mixin-zcc6NnwlG3f8_border-bottom-right-radius: 3px;
  --mixin-zcc6NnwlG3f8_border-top-left-radius: 3px;
  --mixin-zcc6NnwlG3f8_border-top-right-radius: 3px;
  --mixin-zcc6NnwlG3f8_font-family: "Inconsolata";
  --mixin-zcc6NnwlG3f8_padding-bottom: 1px;
  --mixin-zcc6NnwlG3f8_padding-left: 4px;
  --mixin-zcc6NnwlG3f8_padding-right: 4px;
  --mixin-zcc6NnwlG3f8_padding-top: 1px;
  --mixin-zcc6NnwlG3f8_white-space: pre-wrap;
  --mixin-MADSd7CdXWay6_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-MADSd7CdXWay6_border-bottom-color: #dddddd;
  --mixin-MADSd7CdXWay6_border-bottom-style: solid;
  --mixin-MADSd7CdXWay6_border-bottom-width: 1px;
  --mixin-MADSd7CdXWay6_border-left-color: #dddddd;
  --mixin-MADSd7CdXWay6_border-left-style: solid;
  --mixin-MADSd7CdXWay6_border-left-width: 1px;
  --mixin-MADSd7CdXWay6_border-right-color: #dddddd;
  --mixin-MADSd7CdXWay6_border-right-style: solid;
  --mixin-MADSd7CdXWay6_border-right-width: 1px;
  --mixin-MADSd7CdXWay6_border-top-color: #dddddd;
  --mixin-MADSd7CdXWay6_border-top-style: solid;
  --mixin-MADSd7CdXWay6_border-top-width: 1px;
  --mixin-MADSd7CdXWay6_border-bottom-left-radius: 3px;
  --mixin-MADSd7CdXWay6_border-bottom-right-radius: 3px;
  --mixin-MADSd7CdXWay6_border-top-left-radius: 3px;
  --mixin-MADSd7CdXWay6_border-top-right-radius: 3px;
  --mixin-MADSd7CdXWay6_font-family: "Inconsolata";
  --mixin-MADSd7CdXWay6_padding-bottom: 3px;
  --mixin-MADSd7CdXWay6_padding-left: 6px;
  --mixin-MADSd7CdXWay6_padding-right: 6px;
  --mixin-MADSd7CdXWay6_padding-top: 3px;
  --mixin-MADSd7CdXWay6_white-space: pre-wrap;
  --mixin-4FrtgKogfW_7m_display: flex;
  --mixin-4FrtgKogfW_7m_flex-direction: column;
  --mixin-4FrtgKogfW_7m_align-items: stretch;
  --mixin-4FrtgKogfW_7m_justify-content: flex-start;
  --mixin-4FrtgKogfW_7m_list-style-position: outside;
  --mixin-4FrtgKogfW_7m_padding-left: 40px;
  --mixin-4FrtgKogfW_7m_position: relative;
  --mixin-4FrtgKogfW_7m_list-style-type: decimal;
  --mixin-4FrtgKogfW_7m_white-space: pre-wrap;
  --mixin-FYDTwjeziVJYk_display: flex;
  --mixin-FYDTwjeziVJYk_flex-direction: column;
  --mixin-FYDTwjeziVJYk_align-items: stretch;
  --mixin-FYDTwjeziVJYk_justify-content: flex-start;
  --mixin-FYDTwjeziVJYk_list-style-position: outside;
  --mixin-FYDTwjeziVJYk_padding-left: 40px;
  --mixin-FYDTwjeziVJYk_position: relative;
  --mixin-FYDTwjeziVJYk_list-style-type: disc;
  --mixin-FYDTwjeziVJYk_white-space: pre-wrap;
  --mixin-FeuX8_4bVyjra_color: #3291ff;
  --mixin-FeuX8_4bVyjra_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-J84BVF7JPjMQ_font-family);
  font-size: var(--mixin-J84BVF7JPjMQ_font-size);
  font-weight: var(--mixin-J84BVF7JPjMQ_font-weight);
  font-style: var(--mixin-J84BVF7JPjMQ_font-style);
  color: var(--mixin-J84BVF7JPjMQ_color);
  text-align: var(--mixin-J84BVF7JPjMQ_text-align);
  text-transform: var(--mixin-J84BVF7JPjMQ_text-transform);
  line-height: var(--mixin-J84BVF7JPjMQ_line-height);
  letter-spacing: var(--mixin-J84BVF7JPjMQ_letter-spacing);
  white-space: var(--mixin-J84BVF7JPjMQ_white-space);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-2JdKOU7w74jN_color);
  font-size: var(--mixin-2JdKOU7w74jN_font-size);
  font-weight: var(--mixin-2JdKOU7w74jN_font-weight);
  letter-spacing: var(--mixin-2JdKOU7w74jN_letter-spacing);
  line-height: var(--mixin-2JdKOU7w74jN_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-L98I-ijb46tm_color);
  font-size: var(--mixin-L98I-ijb46tm_font-size);
  font-weight: var(--mixin-L98I-ijb46tm_font-weight);
  letter-spacing: var(--mixin-L98I-ijb46tm_letter-spacing);
  line-height: var(--mixin-L98I-ijb46tm_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-dtvg92MGARez_color);
  font-size: var(--mixin-dtvg92MGARez_font-size);
  font-weight: var(--mixin-dtvg92MGARez_font-weight);
  line-height: var(--mixin-dtvg92MGARez_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-B924koFdlSQT_color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-PoAM3UlBuzPB_color);
  padding-left: var(--mixin-PoAM3UlBuzPB_padding-left);
  border-left: var(--mixin-PoAM3UlBuzPB_border-left-width)
    var(--mixin-PoAM3UlBuzPB_border-left-style)
    var(--mixin-PoAM3UlBuzPB_border-left-color);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-JaaxaDprf9QN_color);
  font-size: var(--mixin-JaaxaDprf9QN_font-size);
  font-weight: var(--mixin-JaaxaDprf9QN_font-weight);
  letter-spacing: var(--mixin-JaaxaDprf9QN_letter-spacing);
  line-height: var(--mixin-JaaxaDprf9QN_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-8Bw3D1Fv8MuV_color);
  font-size: var(--mixin-8Bw3D1Fv8MuV_font-size);
  font-weight: var(--mixin-8Bw3D1Fv8MuV_font-weight);
  letter-spacing: var(--mixin-8Bw3D1Fv8MuV_letter-spacing);
  line-height: var(--mixin-8Bw3D1Fv8MuV_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-nn8pOE_FLMMC_color);
  font-size: var(--mixin-nn8pOE_FLMMC_font-size);
  font-weight: var(--mixin-nn8pOE_FLMMC_font-weight);
  letter-spacing: var(--mixin-nn8pOE_FLMMC_letter-spacing);
  line-height: var(--mixin-nn8pOE_FLMMC_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-zcc6NnwlG3f8_background);
  font-family: var(--mixin-zcc6NnwlG3f8_font-family);
  border-radius: var(--mixin-zcc6NnwlG3f8_border-top-left-radius)
    var(--mixin-zcc6NnwlG3f8_border-top-right-radius)
    var(--mixin-zcc6NnwlG3f8_border-bottom-right-radius)
    var(--mixin-zcc6NnwlG3f8_border-bottom-left-radius);
  padding: var(--mixin-zcc6NnwlG3f8_padding-top)
    var(--mixin-zcc6NnwlG3f8_padding-right)
    var(--mixin-zcc6NnwlG3f8_padding-bottom)
    var(--mixin-zcc6NnwlG3f8_padding-left);
  border-top: var(--mixin-zcc6NnwlG3f8_border-top-width)
    var(--mixin-zcc6NnwlG3f8_border-top-style)
    var(--mixin-zcc6NnwlG3f8_border-top-color);
  border-right: var(--mixin-zcc6NnwlG3f8_border-right-width)
    var(--mixin-zcc6NnwlG3f8_border-right-style)
    var(--mixin-zcc6NnwlG3f8_border-right-color);
  border-bottom: var(--mixin-zcc6NnwlG3f8_border-bottom-width)
    var(--mixin-zcc6NnwlG3f8_border-bottom-style)
    var(--mixin-zcc6NnwlG3f8_border-bottom-color);
  border-left: var(--mixin-zcc6NnwlG3f8_border-left-width)
    var(--mixin-zcc6NnwlG3f8_border-left-style)
    var(--mixin-zcc6NnwlG3f8_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-MADSd7CdXWay6_background);
  font-family: var(--mixin-MADSd7CdXWay6_font-family);
  border-radius: var(--mixin-MADSd7CdXWay6_border-top-left-radius)
    var(--mixin-MADSd7CdXWay6_border-top-right-radius)
    var(--mixin-MADSd7CdXWay6_border-bottom-right-radius)
    var(--mixin-MADSd7CdXWay6_border-bottom-left-radius);
  padding: var(--mixin-MADSd7CdXWay6_padding-top)
    var(--mixin-MADSd7CdXWay6_padding-right)
    var(--mixin-MADSd7CdXWay6_padding-bottom)
    var(--mixin-MADSd7CdXWay6_padding-left);
  border-top: var(--mixin-MADSd7CdXWay6_border-top-width)
    var(--mixin-MADSd7CdXWay6_border-top-style)
    var(--mixin-MADSd7CdXWay6_border-top-color);
  border-right: var(--mixin-MADSd7CdXWay6_border-right-width)
    var(--mixin-MADSd7CdXWay6_border-right-style)
    var(--mixin-MADSd7CdXWay6_border-right-color);
  border-bottom: var(--mixin-MADSd7CdXWay6_border-bottom-width)
    var(--mixin-MADSd7CdXWay6_border-bottom-style)
    var(--mixin-MADSd7CdXWay6_border-bottom-color);
  border-left: var(--mixin-MADSd7CdXWay6_border-left-width)
    var(--mixin-MADSd7CdXWay6_border-left-style)
    var(--mixin-MADSd7CdXWay6_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-4FrtgKogfW_7m_display);
  flex-direction: var(--mixin-4FrtgKogfW_7m_flex-direction);
  align-items: var(--mixin-4FrtgKogfW_7m_align-items);
  justify-content: var(--mixin-4FrtgKogfW_7m_justify-content);
  list-style-position: var(--mixin-4FrtgKogfW_7m_list-style-position);
  padding-left: var(--mixin-4FrtgKogfW_7m_padding-left);
  position: var(--mixin-4FrtgKogfW_7m_position);
  list-style-type: var(--mixin-4FrtgKogfW_7m_list-style-type);
  flex-column-gap: var(--mixin-4FrtgKogfW_7m_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-FYDTwjeziVJYk_display);
  flex-direction: var(--mixin-FYDTwjeziVJYk_flex-direction);
  align-items: var(--mixin-FYDTwjeziVJYk_align-items);
  justify-content: var(--mixin-FYDTwjeziVJYk_justify-content);
  list-style-position: var(--mixin-FYDTwjeziVJYk_list-style-position);
  padding-left: var(--mixin-FYDTwjeziVJYk_padding-left);
  position: var(--mixin-FYDTwjeziVJYk_position);
  list-style-type: var(--mixin-FYDTwjeziVJYk_list-style-type);
  flex-column-gap: var(--mixin-FYDTwjeziVJYk_flex-column-gap);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-FeuX8_4bVyjra_color);
}
